# Recommendation System

A recommender system or a recommendation system (sometimes replacing "system" with a synonym such as platform or engine) is a subclass of information filtering system that seeks to predict the "rating" or "preference" a user would give to an item.They are primarily used in commercial applications.

Recommender systems are utilized in a variety of areas, and are most commonly recognized as playlist generators for video and music services like Netflix, YouTube and Spotify, product recommenders for services such as Amazon, or content recommenders for social media platforms such as Facebook and Twitter. These systems can operate using a single input, like music, or multiple inputs within and across platforms like news, books, and search queries. There are also popular recommender systems for specific topics like restaurants and online dating. Recommender systems have been developed to explore research articles and experts, collaborators, financial services and life insurance.

In [3]:
import pandas as pd
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import re
import html
from html.parser import HTMLParser
import os
import warnings
warnings.filterwarnings('ignore')

In [6]:
os.chdir(r'C:\Users\ganes\Downloads\ML JOB\Coding')

In [7]:
artists = pd.read_csv('artist.csv', encoding='latin-1')
artists = artists.rename(columns={'id': 'artistID'})
artists.head()

   artistID               name
0         1       MALICE MIZER
1         2    Diary of Dreams
2         3  Carpathian Forest
3         4       Moi dix Mois
4         5        Bella Morte

In [8]:
artists.shape

(17632, 2)

In [9]:
# Cleaning artist name
def clean_column(column):
    hparser=HTMLParser()  
    new_text=html.unescape(column)  # converts HTML character codes to ASCII equivalent
    lower_case = new_text.lower()  # converts all the letters to lower case
    spaces = re.sub('[\s]+', ' ', lower_case) # Removes the spaces
    link = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','',spaces) # Removes the URL's if it finds the lines with http. or www.
    alpha_numeric = re.sub('[^a-zA-Z\s]+', '', link) # Removes the alpha numeric symbols
    return alpha_numeric

clean_artist_name = artists['name'].apply(lambda column: clean_column(column)) # Applies above changes made to all the rows in the data set
artists['cleaned_artist_name'] = clean_artist_name

# Replacing empty strings with Nan
artists['cleaned_artist_name'].replace("", np.nan, inplace=True)
artists['cleaned_artist_name'].replace(" ", np.nan, inplace=True)
artists['cleaned_artist_name'].replace("  ", np.nan, inplace=True)
artists['cleaned_artist_name'].replace("   ", np.nan, inplace=True)
artists['cleaned_artist_name'].replace("    ", np.nan, inplace=True)

In [10]:
artists['cleaned_artist_name'].head(10)

0         malice mizer
1      diary of dreams
2    carpathian forest
3         moi dix mois
4          bella morte
5            moonspell
6       marilyn manson
7          dir en grey
8          combichrist
9              grendel
Name: cleaned_artist_name, dtype: object

In [11]:
artists['cleaned_artist_name'].shape

(17632,)

In [12]:
# artists['cleaned_artist_name'].isnull().sum(axis=0)

In [46]:
user_artist = pd.read_csv('user_artist.csv')
user_artist

       userID  artistID  weight
0           2        51   13883
1           2        52   11690
2           2        53   11351
3           2        54   10300
4           2        55    8983
5           2        56    6152
6           2        57    5955
7           2        58    4616
8           2        59    4337
9           2        60    4147
10          2        61    3923
11          2        62    3782
12          2        63    3735
13          2        64    3644
14          2        65    3579
15          2        66    3312
16          2        67    3301
17          2        68    2927
18          2        69    2720
19          2        70    2686
20          2        71    2654
21          2        72    2619
22          2        73    2584
23          2        74    2547
24          2        75    2397
25          2        76    2382
26          2        77    2120
27          2        78    2119
28          2        79    1990
29          2        80    1972
30          2        81    1948
31          2        82    1868
32          2        83    1792
33          2        84    1740
34          2        85    1638
35          2        86    1594
36          2        87    1559
37          2        88    1553
38          2        89    1519
39          2        90    1471
40          2        91    1438
41          2        92    1411
42          2        93    1407
43          2        94    1373
44          2        95    1363
45          2        96    1342
46          2        97    1337
47          2        98    1332
48          2        99    1330
49          2       100    1315
50          3       101   13176
51          3       102     662
52          3       103     493
53          3       104     431
54          3       105     403
55          3       106     354
56          3       107     269
57          3       108     236
58          3       109     215
59          3       110     215
60          3       111     212
61          3       112     193
62          3       113     187
63          3       114     167
64          3       115     163
65          3       116     154
66          3       117     151
67          3       118     142
68          3       119     142
69          3       120     125
70          3       121     111
71          3       122     108
72          3       123     104
73          3       124      99
74          3       125      98
75          3       126      94
76          3       127      89
77          3       128      89
78          3       129      86
79          3       130      85
80          3       131      84
81          3       132      83
82          3       133      83
83          3       134      77
84          3       135      77
85          3       136      76
86          3       137      75
87          3       138      72
88          3       139      72
89          3       140      71
90          3       141      70
91          3       142      70
92          3       143      70
93          3       144      69
94          3       145      68
95          3       146      67
96          3       147      67
97          3       148      66
98          3       149      66
99          3       150      65
100         4        51     228
101         4        53     686
102         4        64     420
103         4        65     301
104         4        70     389
105         4        72    4983
106         4        77     396
107         4       151    1807
108         4       152    1208
109         4       153     903
110         4       154     826
111         4       155     777
112         4       156     743
113         4       157     732
114         4       158     729
115         4       159     724
116         4       160     712
117         4       161     632
118         4       162     524
119         4       163     465
120         4       164     455
121         4       165     446
122         4       166     445
123         4       167     407
124         4       168     404
125         4       169     384
126         4       170     366
127         4       171     359
128         4       172     309
129         4       173     292
130         4       174     287
131         4       175     285
132         4       176     284
133         4       177     284
134         4       178     279
135         4       179     264
136         4       180     256
137         4       181     255
138         4       182     254
139         4       183     253
140         4       184     247
141         4       185     240
142         4       186     236
143         4       187     223
144         4       188     221
145         4       189     210
146         4       190     208
147         4       191     202
148         4       192     197
149         4       193     193
150         5        53     181
151         5       154     884
152         5       173     241
153         5       182     222
154         5       190     826
155         5       194     777
156         5       195     673
157         5       196     620
158         5       197     452
159         5       198     451
160         5       199     374
161         5       200     337
162         5       201     304
163         5       202     298
164         5       203     287
165         5       204     283
166         5       205     275
167         5       206     265
168         5       207     259
169         5       208     255
170         5       209     252
171         5       210     229
172         5       211     222
173         5       212     210
174         5       213     209
175         5       214     207
176         5       215     196
177         5       216     192
178         5       217     185
179         5       218     184
180         5       219     178
181         5       220     170
182         5       221     161
183         5       222     161
184         5       223     149
185         5       224     143
186         5       225     142
187         5       226     139
188         5       227     138
189         5       228     138
190         5       229     138
191         5       230     137
192         5       231     134
193         5       232     133
194         5       233     130
195         5       234     129
196         5       235     129
197         5       236     127
198         5       237     118
199         5       238     115
200         6        77      16
201         6       239      41
202         6       240      41
203         6       241      40
204         6       242      37
205         6       243      34
206         6       244      33
207         6       245      31
208         6       246      31
209         6       247      27
210         6       248      26
211         6       249      24
212         6       250      24
213         6       251      24
214         6       252      24
215         6       253      23
216         6       254      20
217         6       255      20
218         6       256      19
219         6       257      18
220         6       258      18
221         6       259      18
222         6       260      18
223         6       261      18
224         6       262      17
225         6       263      17
226         6       264      17
227         6       265      17
228         6       266      16
229         6       267      16
230         6       268      16
231         6       269      16
232         6       270      16
233         6       271      15
234         6       272      15
235         6       273      15
236         6       274      15
237         6       275      14
238         6       276      14
239         6       277      14
240         6       278      14
241         6       279      14
242         6       280      14
243         6       281      14
244         6       282      14
245         6       283      14
246         6       284      13
247         6       285      13
248         6       286      13
249         6       287      13
...       ...       ...     ...
92584    2095      1109     241
92585    2095      1126      85
92586    2095      2312     158
92587    2095      2331      46
92588    2095      2952     193
92589    2095      4972     148
92590    2095      6961     548
92591    2095      8425      51
92592    2095      8436      45
92593    2095      8439     114
92594    2095      8445     285
92595    2095      8452     113
92596    2095      8699      58
92597    2095      9528      32
92598    2095     11676      43
92599    2095     12414      40
92600    2095     16122     142
92601    2095     17982      76
92602    2095     18666     263
92603    2095     18667     161
92604    2095     18668     161
92605    2095     18669     144
92606    2095     18670     116
92607    2095     18671     110
92608    2095     18672     110
92609    2095     18673      97
92610    2095     18674      95
92611    2095     18675      85
92612    2095     18676      83
92613    2095     18677      82
92614    2095     18678      75
92615    2095     18679      73
92616    2095     18680      70
92617    2095     18681      69
92618    2095     18682      62
92619    2095     18683      58
92620    2095     18684      57
92621    2095     18685      56
92622    2095     18686      47
92623    2095     18687      46
92624    2095     18688      43
92625    2095     18689      38
92626    2095     18690      37
92627    2095     18691      37
92628    2095     18692      34
92629    2095     18693      33
92630    2095     18694      32
92631    2095     18695      31
92632    2095     18696      31
92633    2095     18697      31
92634    2096        88     336
92635    2096       154    2056
92636    2096       163     982
92637    2096       166     391
92638    2096       172     578
92639    2096       173    5190
92640    2096       187     494
92641    2096       190    3605
92642    2096       197    1928
92643    2096       198     412
92644    2096       203    1572
92645    2096       208    1079
92646    2096       220     427
92647    2096       234     735
92648    2096       237     481
92649    2096       436   14690
92650    2096       441     469
92651    2096       504     915
92652    2096       517     386
92653    2096       533    1304
92654    2096       620     762
92655    2096       715     355
92656    2096       755     709
92657    2096       851     546
92658    2096       859     992
92659    2096       867    1441
92660    2096      1075    2131
92661    2096      1090     911
92662    2096      1097     917
92663    2096      1384     422
92664    2096      1504     977
92665    2096      1510    1671
92666    2096      2346    1332
92667    2096      3109    1884
92668    2096      3300     374
92669    2096      3501     479
92670    2096      3739     756
92671    2096      3767     337
92672    2096      3902     443
92673    2096      4051     374
92674    2096      4115     732
92675    2096      4311     999
92676    2096      6187     738
92677    2096      6556     376
92678    2096      6730     510
92679    2096      7871     815
92680    2096     13664     489
92681    2096     17934     437
92682    2096     18303     487
92683    2096     18698    1288
92684    2097        56     127
92685    2097        59     142
92686    2097        72    2628
92687    2097        81     181
92688    2097       154     346
92689    2097       159     337
92690    2097       163     126
92691    2097       166     119
92692    2097       199     137
92693    2097       203     110
92694    2097       206     267
92695    2097       207     914
92696    2097       217     108
92697    2097       221     107
92698    2097       223     113
92699    2097       225     631
92700    2097       226     224
92701    2097       228     107
92702    2097       238     154
92703    2097       416     120
92704    2097       424     144
92705    2097       432     201
92706    2097       434     281
92707    2097       441     139
92708    2097       511     109
92709    2097       533     145
92710    2097       614     125
92711    2097       620     134
92712    2097       709     601
92713    2097       859     145
92714    2097       982     225
92715    2097      1106     343
92716    2097      1151     182
92717    2097      1376     123
92718    2097      1394     152
92719    2097      1412     535
92720    2097      1510     136
92721    2097      1976     153
92722    2097      2137     110
92723    2097      2582     190
92724    2097      2821     391
92725    2097      3475     430
92726    2097      3892     220
92727    2097      4074     142
92728    2097      4435     128
92729    2097      5154     163
92730    2097      5237     841
92731    2097     10385     127
92732    2097     12918     109
92733    2097     18026     108
92734    2099       138     104
92735    2099       407     193
92736    2099       748      72
92737    2099      1835     446
92738    2099      1943     410
92739    2099      1945     288
92740    2099      1969     290
92741    2099      2605     397
92742    2099      2668     521
92743    2099      2811     269
92744    2099      3132     188
92745    2099      3346     250
92746    2099      3352     109
92747    2099      3823     331
92748    2099      3995     110
92749    2099      4122      89
92750    2099      4852     100
92751    2099      4853     115
92752    2099      5191     219
92753    2099      6004     107
92754    2099      6046     770
92755    2099      6336     314
92756    2099      7060      95
92757    2099      8232     110
92758    2099     11377     113
92759    2099     12868     118
92760    2099     13816     102
92761    2099     14230     122
92762    2099     16215      97
92763    2099     17294     150
92764    2099     17956     123
92765    2099     18706     679
92766    2099     18707     256
92767    2099     18708     240
92768    2099     18709     231
92769    2099     18710     192
92770    2099     18711     191
92771    2099     18712     182
92772    2099     18713     171
92773    2099     18714     163
92774    2099     18715     139
92775    2099     18716     133
92776    2099     18717     132
92777    2099     18718     132
92778    2099     18719     118
92779    2099     18720     112
92780    2099     18721     108
92781    2099     18722     107
92782    2099     18723      87
92783    2099     18724      84
92784    2100         3     408
92785    2100         6     404
92786    2100        12    1253
92787    2100        28     911
92788    2100        47     305
92789    2100       837     762
92790    2100       841     553
92791    2100      1109    1333
92792    2100      1111    1062
92793    2100      1134    1213
92794    2100      1260    1459
92795    2100      1276    1133
92796    2100      1281     573
92797    2100      2749     532
92798    2100      2765     457
92799    2100      2772     485
92800    2100      2774     436
92801    2100      3806     389
92802    2100      4182     258
92803    2100      4271    2026
92804    2100      4611     360
92805    2100      4970     614
92806    2100      6258     403
92807    2100      6658     731
92808    2100      7918     289
92809    2100      8320     284
92810    2100      8322     650
92811    2100      8323     456
92812    2100      8324    1068
92813    2100      8326     626
92814    2100      8327     613
92815    2100      8332     655
92816    2100      8344     640
92817    2100      8525     232
92818    2100      8529     429
92819    2100      8531     607
92820    2100      8533     724
92821    2100      9783     793
92822    2100     10008     228
92823    2100     10894     705
92824    2100     13677     278
92825    2100     13679     346
92826    2100     13978     535
92827    2100     16437     443
92828    2100     18725     758
92829    2100     18726     337
92830    2100     18727     297
92831    2100     18728     281
92832    2100     18729     280
92833    2100     18730     263

[92834 rows x 3 columns]

In [14]:
# Merging two dataframes
df_ratings = user_artist.join(artists.set_index('artistID'), on='artistID')
df_ratings = df_ratings.rename(columns={'name': 'artist_name'})
df_ratings.head()

   userID  artistID  weight    artist_name cleaned_artist_name
0       2        51   13883    Duran Duran         duran duran
1       2        52   11690      Morcheeba           morcheeba
2       2        53   11351            Air                 air
3       2        54   10300   Hooverphonic        hooverphonic
4       2        55    8983  Kylie Minogue       kylie minogue

In [15]:
drop_columns = ['weight', 'artist_name']
df_ratings = df_ratings.drop(drop_columns, axis = 1)
df_ratings.head()

   userID  artistID cleaned_artist_name
0       2        51         duran duran
1       2        52           morcheeba
2       2        53                 air
3       2        54        hooverphonic
4       2        55       kylie minogue

In [16]:
df_ratings['cleaned_artist_name'].value_counts()

lady gaga                                   611
britney spears                              525
rihanna                                     485
the beatles                                 480
katy perry                                  474
madonna                                     429
avril lavigne                               417
christina aguilera                          407
muse                                        400
paramore                                    400
beyonc                                      397
radiohead                                   393
coldplay                                    369
keha                                        362
shakira                                     319
pnk                                         305
the killers                                 304
black eyed peas                             304
kylie minogue                               298
miley cyrus                                 287
depeche mode                                282
linkin park                                 280
michael jackson                             266
kelly clarkson                              260
pink floyd                                  258
nirvana                                     258
glee cast                                   250
arctic monkeys                              248
taylor swift                                247
lily allen                                  243
                                           ...
patrizio buanne                               1
doof                                          1
three mile pilot                              1
the radio rat misery hour                     1
crebro eletrnico                              1
dimension zero                                1
blue water white death                        1
trancendental anarchists                      1
atrocite feat mque                            1
letum                                         1
espen lind                                    1
alain goraguer                                1
m e m  r                                      1
the cowsills                                  1
barry gibb                                    1
cidade negra                                  1
the flatlands collective                      1
si                                            1
sleep with all your friends                   1
kdee                                          1
benga                                         1
days                                          1
sherwood                                      1
lee hazlewood                                 1
old time radio                                1
precious                                      1
cinedisco                                     1
dolly parton loretta lynn  tammy wynette      1
michael franti  spearhead                     1
che sudaka                                    1
Name: cleaned_artist_name, Length: 16851, dtype: int64

I would like to rate the artists based on how many times they have rated by the users. It seems like Lady Gaga has been rated most no of times which is 611 and there are many other artists who were rated more than 200 times. For artists who were rated more than 400 times consider them as 5 star artists and artists with 300 and more #ratings consider them as 4 star artists and artists with 200 and more #ratings consider them as 3 star artists and artists with 100 and more #ratings are considered as 2 star artists and artists with less than 100 #ratings are considered as 1 star artists.

In [17]:
pd.set_option('display.max_rows', 500)
df_ratings['# artist_rated'] = df_ratings.groupby(['artistID'])['cleaned_artist_name'].transform('count')
df_ratings.head()

   userID  artistID cleaned_artist_name  # artist_rated
0       2        51         duran duran             111
1       2        52           morcheeba              23
2       2        53                 air              75
3       2        54        hooverphonic              18
4       2        55       kylie minogue             298

Now let's rate the artists based on the count of each artist

In [18]:
df_ratings['rating'] = df_ratings['# artist_rated'].apply(lambda x:5 if x >= 400 else 4 if x >= 300 else 3 if x >= 200 
                                                          else 2 if x >= 100 else 1)

In [19]:
df_ratings.head()

   userID  artistID cleaned_artist_name  # artist_rated  rating
0       2        51         duran duran             111       2
1       2        52           morcheeba              23       1
2       2        53                 air              75       1
3       2        54        hooverphonic              18       1
4       2        55       kylie minogue             298       3

In [20]:
df_ratings['rating'].value_counts()

1    67925
2    11224
3     6310
5     4223
4     3152
Name: rating, dtype: int64

### Building a simple recommendation system

One approach to the design of recommender systems that has wide use is collaborative filtering. Collaborative filtering is based on the assumption that people who agreed in the past will agree in the future, and that they will like similar kinds of items as they liked in the past. The system generates recommendations using only information about rating profiles for different users or items.

### User-User Collaborative filtering

This algorithm first finds the similarity score between users. Based on this similarity score, it then picks out the most similar users and recommends products which these similar users have liked or bought previously.

![image](https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2018/05/0o0zVW2O6Rv-LI5Mu1-850x466.png)

### Item-Item Collaborative filtering

In this algorithm, we compute the similarity between each pair of items

![image](https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2018/05/1skK2fqWiBF7weHU8SjuCzw.png)

In [21]:
n_users = df_ratings.userID.unique().shape[0]
n_items = df_ratings.artistID.unique().shape[0]

In [22]:
data_matrix = np.zeros((df_ratings['userID'].max(), df_ratings['artistID'].max()))

#populate the matrix based on the dataset
for line in df_ratings.itertuples():
    data_matrix[line[1]-1, line[2]-1] = line[5]

In [23]:
# data_matrix.unique.shape[0]
np.unique(data_matrix)

array([0., 1., 2., 3., 4., 5.])

In [24]:
data_matrix_df = pd.DataFrame(data_matrix)
data_matrix_df.head()

,0,1,2,3,4,5,6,7,8,9,...,18735,18736,18737,18738,18739,18740,18741,18742,18743,18744
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now, we will calculate the similarity. We can use the pairwise_distance function from sklearn to calculate the cosine similarity. This gives us the item-item and user-user similarity in an array form. The next step is to make predictions based on these similarities. Let’s define a function to do just that.

In [25]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

In [26]:
user_similarity_dataframe = pd.DataFrame(user_similarity)
user_similarity_dataframe.head()

,0,1,2,3,4,5,6,7,8,9,...,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099
0,0.0,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.0,1.00,1.0
1,1.0,0.000000,1.0,0.777676,0.994236,0.989058,0.732963,0.855662,1.0,1.000000,...,0.913207,1.000000,0.990247,0.843848,1.0,0.972507,0.862081,1.0,1.00,1.0
2,1.0,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.0,0.98,1.0
3,1.0,0.777676,1.0,0.000000,0.692430,0.989385,1.000000,1.000000,1.0,0.817761,...,1.000000,0.936908,0.990538,1.000000,1.0,0.586584,0.719654,1.0,1.00,1.0
4,1.0,0.994236,1.0,0.692430,0.000000,1.000000,1.000000,1.000000,1.0,0.644492,...,1.000000,0.538160,1.000000,1.000000,1.0,0.549292,0.667460,1.0,1.00,1.0

In [27]:
item_similarity_dataframe =  pd.DataFrame(item_similarity)
item_similarity_dataframe.head()

,0,1,2,3,4,5,6,7,8,9,...,18735,18736,18737,18738,18739,18740,18741,18742,18743,18744
0,0.0,1.000000,1.0,1.0,1.000000,1.000000,0.949937,0.833333,1.000000,1.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,0.000000,1.0,1.0,0.795876,1.000000,0.924906,1.000000,0.646447,0.711325,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.000000,0.0,1.0,1.000000,0.452277,1.000000,1.000000,1.000000,1.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.000000,1.0,0.0,1.000000,1.000000,0.938686,0.795876,1.000000,1.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,0.795876,1.0,1.0,0.000000,1.000000,0.938686,1.000000,0.855662,1.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [28]:
def predict(data_matrix, similarity, type='user'):
    if type == 'user':
        mean_user_rating = data_matrix.mean(axis=1)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (data_matrix - mean_user_rating[:, np.newaxis])
        ratings_diff = (data_matrix)
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
#         pred = similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = data_matrix.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [29]:
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

In [30]:
user_prediction.shape

(2100, 18745)

In [31]:
item_prediction.shape

(2100, 18745)

In [32]:
user_prediction_df = pd.DataFrame(user_prediction)
user_prediction_df.head()

,0,1,2,3,4,5,6,7,8,9,...,18735,18736,18737,18738,18739,18740,18741,18742,18743,18744
0,0.001429,0.005717,0.001429,0.000953,0.000953,0.004764,0.126727,0.005717,0.011434,0.004288,...,0.000476,0.000476,0.000476,0.000476,0.000476,0.000476,0.000476,0.000476,0.000476,0.000476
1,0.005235,0.009589,0.005338,0.004766,0.004761,0.008970,0.128870,0.009592,0.015298,0.008339,...,0.004269,0.004269,0.004269,0.004269,0.004269,0.004269,0.004269,0.004269,0.004269,0.004208
2,0.004097,0.008387,0.004097,0.003621,0.003621,0.007434,0.129455,0.008387,0.014107,0.006957,...,0.003144,0.003144,0.003144,0.003144,0.003144,0.003144,0.003144,0.003144,0.003144,0.003144
3,0.005197,0.009375,0.005494,0.004839,0.004705,0.008800,0.124106,0.009524,0.014496,0.008276,...,0.004429,0.004429,0.004429,0.004429,0.004429,0.004429,0.004429,0.004429,0.004429,0.004262
4,0.005902,0.010415,0.006293,0.005601,0.005499,0.009725,0.120328,0.010401,0.015905,0.009025,...,0.005171,0.005171,0.005171,0.005171,0.005171,0.005171,0.005171,0.005171,0.005171,0.004940

In [33]:
item_prediction_df = pd.DataFrame(item_prediction)
item_prediction_df.head()

,0,1,2,3,4,5,6,7,8,9,...,18735,18736,18737,18738,18739,18740,18741,18742,18743,18744
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.003716,0.003698,0.003743,0.003734,0.003732,0.003738,0.003555,0.003710,0.003665,0.003732,...,0.003740,0.003740,0.003740,0.003740,0.003740,0.003740,0.003740,0.003740,0.003740,0.003708
2,0.002672,0.002677,0.002674,0.002672,0.002671,0.002676,0.002689,0.002676,0.002681,0.002677,...,0.002671,0.002671,0.002671,0.002671,0.002671,0.002671,0.002671,0.002671,0.002671,0.002670
3,0.003847,0.003819,0.003900,0.003856,0.003829,0.003857,0.003615,0.003834,0.003754,0.003848,...,0.003900,0.003900,0.003900,0.003900,0.003900,0.003900,0.003900,0.003900,0.003900,0.003856
4,0.004570,0.004593,0.004653,0.004615,0.004598,0.004624,0.004201,0.004564,0.004540,0.004601,...,0.004638,0.004638,0.004638,0.004638,0.004638,0.004638,0.004638,0.004638,0.004638,0.004570

### Getting recommendations based on item and user similarity

In [49]:
#Construct a reverse map of indices and artist titles

index=df_ratings['cleaned_artist_name'].drop_duplicates()
index
indices = pd.Series(index)
indices = indices.tolist()

In [50]:
# Function that takes in artist title as input and outputs most similar artist
def get_recommendations(cleaned_artist_name, cosine_sim= item_similarity):
    # Get the index of the artist that matches the title
    idx = indices.index(cleaned_artist_name)

    # Get the pairwsie similarity scores of all artists with that artist
    sim_scores = list(enumerate(item_similarity[idx]))

    # Sort the artists based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar artists
    sim_scores = sim_scores[1:11]

    # Get the artist indices
    artist_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar artists
    return df_ratings['cleaned_artist_name'].iloc[artist_indices]

In [53]:
get_recommendations('coldplay')

1         morcheeba
3      hooverphonic
4     kylie minogue
7         goldfrapp
13          ryksopp
15        faithless
18             sade
19             moby
20             dido
21     depeche mode
Name: cleaned_artist_name, dtype: object

In [55]:
user_index=df_ratings['userID'].drop_duplicates()
user_index
indices_user = pd.Series(user_index)
indices_user = indices_user.tolist()

In [56]:
# Function that takes in userID as input and outputs most similar movies
def get_recommendations(userID, cosine_sim= user_similarity):
    # Get the index of the userID that matches the title
    idx = indices_user.index(userID)

    # Get the pairwsie similarity scores of all artists with that artist
    sim_scores = list(enumerate(user_similarity[idx]))

    # Sort the userID based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar users
    sim_scores = sim_scores[1:11]

    # Get the user indices
    user_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df_ratings['cleaned_artist_name'].iloc[user_indices]

In [57]:
get_recommendations(2100)

2                air
5          daft punk
15         faithless
18              sade
19              moby
20              dido
21      depeche mode
27    the adventures
32        cock robin
34    spandau ballet
Name: cleaned_artist_name, dtype: object